<div id="<%= dom_id employee %>">
  <p><strong>Nome:</strong> <%= employee.name %></p>
  <p><strong>Status:</strong> <%= employee.active ? "Ativo" : "Inativo" %></p>
  <p><strong>Setor:</strong> <%= employee.sector.name %></p>
  <% if employee.user.present? %>
    <p><strong>Usuário:</strong> <%= employee.user.email %></p>
  <% else %>
    <p><strong>Usuário:</strong> Desativado</p>
  <% end %>
</div>
