<%= form_with(model: employee, local: true, class: "needs-validation", novalidate: true) do |form| %>
  <% if employee.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(employee.errors.count, "erro") %> impediram o salvamento:</h4>
      <ul>
        <% employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, "Nome", class: "form-label" %>
    <%= form.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :sector_id, "Setor", class: "form-label" %>
    <%= form.collection_select :sector_id, Sector.active.all, :id, :name, { prompt: "Selecione um setor" }, class: "form-select" %>
  </div>

  <strong>Cadastrar Usuário</strong>

  <%= form.fields_for :user do |user_fields| %>
    <div class="mb-3">
      <%= user_fields.label :email, "Email", class: "form-label" %>
      <%= user_fields.email_field :email, class: "form-control", required: true %>
    </div>

    <div class="mb-3">
      <%= user_fields.label :password, "Senha", class: "form-label" %>
      <%= user_fields.password_field :password, class: "form-control", required: true %>
    </div>

    <div class="mb-3">
      <%= user_fields.label :password_confirmation, "Confirmação de Senha", class: "form-label" %>
      <%= user_fields.password_field :password_confirmation, class: "form-control", required: true %>
    </div>
  <% end %>

  <div class="text-center">
    <%= form.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>