<div id="<%= dom_id visitor %>">
  <p>
    <strong>Cpf:</strong>
    <%= visitor.cpf %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= visitor.name %>
  </p>

  <p>
    <strong>Rg:</strong>
    <%= visitor.rg %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= visitor.phone %>
  </p>

  <p>
    <strong>Photo:</strong>
  </p>

  <% if visitor.photo.present? %>
    <%= image_tag visitor.photo.url, alt: "Foto do Visitante" %>
  <% else %>
    <p>Nenhuma foto disponível.</p>
  <% end %>

</div>
