<div class="container mt-4">
  <% if notice.present? %>
    <div class="alert alert-success text-center">
      <%= notice %>
    </div>
  <% end %>

  <div class="d-flex justify-content-center">
    <div class="col-md-6">
      <%= render @visitor %>
    </div>
  </div>

  <div class="text-center mt-3">
    <%= link_to "Editar Visitante", edit_visitor_path(@visitor), class: "btn btn-warning mx-2" %>
    <%= link_to "Voltar para Visitantes", visitors_path, class: "btn btn-secondary mx-2" %>

    <% if @visitor.active %>
      <%= button_to "Desativar Visitante", deactivate_visitor_path(@visitor), method: :patch, 
        data: { confirm: "Tem certeza que deseja desativar este visitante?" }, 
        class: "btn btn-danger mx-2" %>
    <% end %>
  </div>
</div>
