<p style="color: green"><%= notice %></p>

<%= render @sector %>

<div>
  <%= link_to "Edit this sector", edit_sector_path(@sector) %> |
  <%= button_to "Desativar", deactivate_sector_path(@sector), method: :patch, data: { confirm: "Tem certeza?" } if @sector.active %>
  <%= link_to "Back to sectors", sectors_path %>
</div>
