<%= form_with(model: unit, class: "needs-validation", novalidate: true) do |form| %>
  <% if unit.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(unit.errors.count, "erro") %> impediram o salvamento:</h4>
      <ul>
        <% unit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, "Nome da Unidade", class: "form-label" %>
    <%= form.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="text-center">
    <%= form.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>
