<p style="color: green"><%= notice %></p>

<%= render @unit %>

<div>
  <%= link_to "Edit this unit", edit_unit_path(@unit) %> |
  <%= button_to "Desativar", deactivate_unit_path(@unit), method: :patch, data: { confirm: "Tem certeza?" } if @unit.active %>
  <%= link_to "Back to units", units_path %>

</div>
